# Using a Neural Network to Predict Bike Rentals

### Import Modules

In [90]:
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
#import statsmodels.formula.api
import keras

from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from sklearn.linear_model import LinearRegression

### Create Data Frame based on CSV

In [91]:
#bikes = pd.read_csv('bikeshare.csv', index_col='datetime',parse_dates = True)
bikes = pd.read_csv('bikeshare.csv')

bikes.head()
bikes

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,334,353
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,264,268
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,159,168
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,127,132
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,35,41
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,14,15
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,2,3
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,5,5
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,29,31
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,360,363
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,183,213
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

### Create Training Data Frame

In [68]:
train_rows = int(len(bikes.index)*0.8)
test_rows = len(bikes.index)-train_rows

data_columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity',
                'windspeed','casual','registered','count']

x_train = pd.DataFrame(columns = data_columns)
y_train = pd.DataFrame(columns = ['count'])

for i in range(train_rows):
    x_train.loc[i] = bikes.loc[i]

y_train = x_train.drop(columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity',
                                  'windspeed','casual','registered'])
x_train = x_train.drop(columns = ['datetime', 'count'])
x_train

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
0,1,0,0,1,9.84,14.395,81,0.0000,3,13
1,1,0,0,1,9.02,13.635,80,0.0000,8,32
2,1,0,0,1,9.02,13.635,80,0.0000,5,27
3,1,0,0,1,9.84,14.395,75,0.0000,3,10
4,1,0,0,1,9.84,14.395,75,0.0000,0,1
5,1,0,0,2,9.84,12.880,75,6.0032,0,1
6,1,0,0,1,9.02,13.635,80,0.0000,2,0
7,1,0,0,1,8.20,12.880,86,0.0000,1,2
8,1,0,0,1,9.84,14.395,75,0.0000,1,7
9,1,0,0,1,13.12,17.425,76,0.0000,8,6
10,1,0,0,1,15.58,19.695,76,16.9979,12,24
11,1,0,0,1,14.76,16.665,81,19.0012,26,30
12,1,0,0,1,17.22,21.210,77,19.0012,29,55
13,1,0,0,2,18.86,22.725,72,19.9995,47,47
14,1,0,0,2,18.86,22.725,72,19.0012,35,71
15,1,0,0,2,18.04,21.970,77,19.9995,40,70
16,1,0,0,2,17.22,21.210,82,19.9995,41,52
17,1,0,0,2,18.04,21.970,82,19.0012,15,52
18,1,0,0,3,17.22,21.210,88,16.9979,9,26
19,1,0,0,3,17.22,21.210,88,16.9979,6,31
20,1,0,0,2,16.40,20.455,87,16.9979,11,25
21,1,0,0,2,16.40,20.455,87,12.9980,3,31
22,1,0,0,2,16.40,20.455,94,15.0013,11,17
23,1,0,0,2,18.86,22.725,88,19.9995,15,24
24,1,0,0,2,18.86,22.725,88,19.9995,4,13
25,1,0,0,2,18.04,21.970,94,16.9979,1,16
26,1,0,0,2,17.22,21.210,100,19.0012,1,8
27,1,0,0,2,18.86,22.725,94,12.9980,2,4
28,1,0,0,2,18.86,22.725,94,12.9980,2,1
29,1,0,0,3,17.22,21.210,77,19.9995,0,2
...,...,...,...,...,...,...,...,...,...,...
8678,3,0,1,1,30.34,35.605,79,8.9981,26,170
8679,3,0,0,1,30.34,35.605,79,11.0014,24,137
8680,3,0,0,1,29.52,35.605,84,12.9980,23,99
8681,3,0,0,1,29.52,35.605,84,8.9981,20,64
8682,3,0,0,1,29.52,35.605,84,8.9981,11,19
8683,3,0,0,1,29.52,34.850,79,12.9980,2,11
8684,3,0,0,1,28.70,33.335,84,15.0013,1,16
8685,3,0,0,1,28.70,33.335,84,15.0013,12,37
8686,3,0,0,1,29.52,34.850,77,11.0014,18,49
8687,3,0,0,1,30.34,36.365,72,12.9980,49,132
8688,3,0,0,1,31.98,37.880,65,15.0013,61,217
8689,3,0,0,1,33.62,38.635,57,12.9980,108,288
8690,3,0,0,1,35.26,40.150,47,16.9979,155,315
8691,3,0,0,1,35.26,39.395,40,23.9994,222,325
8692,3,0,0,1,36.08,40.910,42,19.9995,195,332
8693,3,0,0,1,36.08,40.150,40,26.0027,183,289
8694,3,0,0,1,36.08,40.910,42,27.9993,205,284
8695,3,0,0,1,36.90,40.910,39,19.9995,197,253
8696,3,0,0,1,36.08,39.395,37,19.9995,179,313
8697,3,0,0,1,35.26,39.395,41,22.0028,169,321
8698,3,0,0,1,33.62,38.635,52,23.9994,133,264
8699,3,0,0,1,33.62,38.635,52,19.9995,117,195
8700,3,0,0,1,32.80,38.635,59,16.9979,96,193
8701,3,0,0,1,31.16,36.365,66,19.0012,104,165
8702,3,0,0,1,31.16,36.365,66,19.9995,61,161
8703,3,0,0,1,30.34,34.850,70,19.0012,32,121
8704,3,0,0,1,30.34,34.850,70,16.9979,8,79
8705,3,0,0,1,30.34,34.850,70,19.9995,5,68
8706,3,0,0,1,29.52,34.850,74,16.9979,9,32
8707,3,0,0,1,29.52,34.850,74,16.9979,3,11

### Create Testing Data Frame

In [67]:
x_test = pd.DataFrame(columns = data_columns)
y_test = pd.DataFrame(columns = ['count'])

for i in range(test_rows):
    x_test.loc[i] = bikes.loc[i + train_rows]

y_test = x_test.drop(columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity',
                                'windspeed','casual','registered'])
x_test = x_test.drop(columns = ['datetime','count'])
x_test

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
0,3,0,0,1,29.52,34.850,74,16.9979,1,18
1,3,0,0,1,29.52,34.850,79,16.9979,7,12
2,3,0,0,1,30.34,35.605,74,19.9995,18,50
3,3,0,0,1,31.16,36.365,66,22.0028,27,81
4,3,0,0,1,32.80,38.635,59,23.9994,61,168
5,3,0,0,1,32.80,38.635,59,27.9993,111,253
6,3,0,0,1,33.62,39.395,56,27.9993,155,282
7,3,0,0,1,35.26,40.150,47,35.0008,161,330
8,3,0,0,1,36.08,40.910,44,31.0009,208,315
9,3,0,0,1,36.90,42.425,42,31.0009,161,365
10,3,0,0,1,36.90,40.910,37,35.0008,164,286
11,3,0,0,1,33.62,37.880,46,16.9979,143,278
12,3,0,0,1,33.62,37.880,46,16.9979,122,260
13,3,0,0,3,28.70,33.335,74,8.9981,75,154
14,3,0,0,1,28.70,33.335,84,15.0013,46,139
15,3,0,0,1,28.70,33.335,84,7.0015,53,140
16,3,0,0,1,29.52,34.850,79,7.0015,51,157
17,3,0,0,1,29.52,34.850,79,6.0032,57,100
18,3,0,0,2,29.52,34.850,79,11.0014,29,58
19,3,0,1,2,29.52,34.850,79,0.0000,9,24
20,3,0,1,1,29.52,34.850,79,6.0032,1,10
21,3,0,1,2,29.52,34.850,79,8.9981,0,5
22,3,0,1,3,29.52,34.850,79,6.0032,0,5
23,3,0,1,2,29.52,34.850,74,8.9981,3,8
24,3,0,1,1,28.70,33.335,79,12.9980,2,23
25,3,0,1,2,28.70,33.335,79,15.0013,4,137
26,3,0,1,3,29.52,34.090,70,12.9980,14,393
27,3,0,1,2,28.70,33.335,79,0.0000,27,578
28,3,0,1,3,28.70,33.335,79,11.0014,28,248
29,3,0,1,1,30.34,34.850,70,15.0013,54,159
...,...,...,...,...,...,...,...,...,...,...
2148,4,0,1,1,15.58,19.695,46,22.0028,13,512
2149,4,0,1,1,15.58,19.695,46,26.0027,19,334
2150,4,0,1,1,14.76,16.665,50,16.9979,4,264
2151,4,0,1,1,14.76,17.425,50,15.0013,9,159
2152,4,0,1,1,13.94,16.665,49,0.0000,5,127
2153,4,0,1,1,13.94,17.425,49,6.0032,1,80
2154,4,0,1,1,12.30,15.910,61,0.0000,6,35
2155,4,0,1,1,12.30,15.910,65,6.0032,1,14
2156,4,0,1,1,11.48,15.150,65,6.0032,1,2
2157,4,0,1,1,10.66,13.635,75,8.9981,0,5
2158,4,0,1,1,9.84,12.120,75,8.9981,1,6
2159,4,0,1,1,10.66,14.395,75,6.0032,2,29
2160,4,0,1,1,9.84,12.880,75,6.0032,3,109
2161,4,0,1,1,10.66,13.635,75,8.9981,3,360
2162,4,0,1,1,9.84,12.880,87,7.0015,13,665
2163,4,0,1,1,11.48,14.395,75,7.0015,8,309
2164,4,0,1,1,13.12,16.665,70,7.0015,17,147
2165,4,0,1,1,16.40,20.455,54,15.0013,31,169
2166,4,0,1,1,16.40,20.455,54,19.0012,33,203
2167,4,0,1,1,17.22,21.210,50,12.9980,30,183
2168,4,0,1,1,17.22,21.210,50,12.9980,33,185
2169,4,0,1,1,17.22,21.210,50,19.0012,28,209
2170,4,0,1,1,17.22,21.210,50,23.9994,37,297
2171,4,0,1,1,16.40,20.455,50,26.0027,26,536
2172,4,0,1,1,15.58,19.695,50,23.9994,23,546
2173,4,0,1,1,15.58,19.695,50,26.0027,7,329
2174,4,0,1,1,14.76,17.425,57,15.0013,10,231
2175,4,0,1,1,13.94,15.910,61,15.0013,4,164
2176,4,0,1,1,13.94,17.425,61,6.0032,12,117
2177,4,0,1,1,13.12,16.665,66,8.9981,4,84

### Create Neural Network Structure

In [98]:
model = Sequential()
model.add(Dense(32, input_shape=(10,)))
model.add(Activation('tanh'))
model.add(Dropout(0.25))
model.add(Dense(250))
model.add(Activation('relu'))
model.add(Dropout(0.15))
model.add(Dense(250))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('linear'))
model.compile(optimizer='adam', loss='mse')

### Train Neural Network Structure

In [99]:
model.fit(x_train, y_train,
          epochs=100)

Epoch 1/100
8708/8708 [==============================] - 3s 312us/step - loss: 13503.9172
Epoch 2/100
8708/8708 [==============================] - 2s 251us/step - loss: 4077.6731
Epoch 3/100
8708/8708 [==============================] - 2s 251us/step - loss: 3486.5265
Epoch 4/100
8708/8708 [==============================] - 2s 250us/step - loss: 2967.3155
Epoch 5/100
8708/8708 [==============================] - 2s 256us/step - loss: 2916.5007
Epoch 6/100
8708/8708 [==============================] - 2s 250us/step - loss: 2820.0855
Epoch 7/100
8708/8708 [==============================] - 2s 251us/step - loss: 2602.3503
Epoch 8/100
8708/8708 [==============================] - 2s 259us/step - loss: 2510.8877
Epoch 9/100
8708/8708 [==============================] - 2s 254us/step - loss: 2501.4108
Epoch 10/100
8708/8708 [==============================] - 2s 256us/step - loss: 2345.8667
Epoch 11/100
8708/8708 [==============================] - 2s 251us/step - loss: 2376.3195
Epoch 12/100
8708/8708 [==============================] - 2s 253us/step - loss: 2283.6246
Epoch 13/100
8708/8708 [==============================] - 2s 262us/step - loss: 2255.4580
Epoch 14/100
8708/8708 [==============================] - 2s 270us/step - loss: 2256.5923
Epoch 15/100
8708/8708 [==============================] - 2s 261us/step - loss: 2049.3525
Epoch 16/100
8708/8708 [==============================] - 3s 305us/step - loss: 2108.1722
Epoch 17/100
8708/8708 [==============================] - 2s 251us/step - loss: 2081.9204
Epoch 18/100
8708/8708 [==============================] - 2s 252us/step - loss: 1965.9541
Epoch 19/100
8708/8708 [==============================] - 2s 263us/step - loss: 1928.2001
Epoch 20/100
8708/8708 [==============================] - 2s 287us/step - loss: 1921.9797
Epoch 21/100
8708/8708 [==============================] - 3s 324us/step - loss: 1837.8469
Epoch 22/100
8708/8708 [==============================] - 2s 232us/step - loss: 1749.5761
Epoch 23/100
8708/8708 [==============================] - 2s 236us/step - loss: 1715.8912
Epoch 24/100
8708/8708 [==============================] - 2s 281us/step - loss: 1678.8611
Epoch 25/100
8708/8708 [==============================] - 2s 261us/step - loss: 1567.0490
Epoch 26/100
8708/8708 [==============================] - 2s 271us/step - loss: 1613.6163
Epoch 27/100
8708/8708 [==============================] - 2s 241us/step - loss: 1579.0840
Epoch 28/100
8708/8708 [==============================] - 2s 241us/step - loss: 1547.9684
Epoch 29/100
8708/8708 [==============================] - 2s 245us/step - loss: 1513.7168
Epoch 30/100
8708/8708 [==============================] - 2s 230us/step - loss: 1501.3744
Epoch 31/100
8708/8708 [==============================] - ETA: 0s - loss: 1530.85 - 2s 227us/step - loss: 1527.1618
Epoch 32/100
8708/8708 [==============================] - 2s 226us/step - loss: 1497.3341
Epoch 33/100
8708/8708 [==============================] - 2s 224us/step - loss: 1420.9444
Epoch 34/100
8708/8708 [==============================] - 2s 234us/step - loss: 1399.1106
Epoch 35/100
8708/8708 [==============================] - 2s 242us/step - loss: 1321.8349
Epoch 36/100
8708/8708 [==============================] - 3s 330us/step - loss: 1288.5829
Epoch 37/100
8708/8708 [==============================] - 3s 298us/step - loss: 1309.7346
Epoch 38/100
8708/8708 [==============================] - 2s 277us/step - loss: 1335.3828
Epoch 39/100
8708/8708 [==============================] - 3s 291us/step - loss: 1264.1193
Epoch 40/100
8708/8708 [==============================] - 2s 250us/step - loss: 1265.5119
Epoch 41/100
8708/8708 [==============================] - 2s 253us/step - loss: 1292.0679
Epoch 42/100
8708/8708 [==============================] - 2s 243us/step - loss: 1328.2020
Epoch 43/100
8708/8708 [==============================] - 2s 246us/step - loss: 1156.8734
Epoch 44/100
8708/8708 [==============================] - 2s 239us/step - loss: 1275.7523
Epoch 45/100
8708/8708 [==============================] - 2s 240us/step - loss: 1394.6382
Epoch 46/100
8708/8708 [==============================] - 2s 237us/step - loss: 1315.3216
Epoch 47/100
8708/8708 [==============================] - 2s 241us/step - loss: 1234.3782
Epoch 48/100
8708/8708 [==============================] - 2s 250us/step - loss: 1242.5854
Epoch 49/100
8708/8708 [==============================] - 2s 236us/step - loss: 1119.2611
Epoch 50/100
8708/8708 [==============================] - 2s 236us/step - loss: 1266.4071
Epoch 51/100
8708/8708 [==============================] - 2s 238us/step - loss: 1316.6026
Epoch 52/100
8708/8708 [==============================] - 2s 258us/step - loss: 1188.3149
Epoch 53/100
8708/8708 [==============================] - 2s 284us/step - loss: 1173.5120
Epoch 54/100
8708/8708 [==============================] - 2s 248us/step - loss: 1283.1210
Epoch 55/100
8708/8708 [==============================] - 2s 234us/step - loss: 1243.5475
Epoch 56/100
8708/8708 [==============================] - 2s 230us/step - loss: 1225.4396
Epoch 57/100
8708/8708 [==============================] - 2s 235us/step - loss: 1289.3409
Epoch 58/100
8708/8708 [==============================] - 2s 234us/step - loss: 1251.9007
Epoch 59/100
8708/8708 [==============================] - 2s 241us/step - loss: 1073.0589
Epoch 60/100
8708/8708 [==============================] - 2s 241us/step - loss: 1235.2457
Epoch 61/100
8708/8708 [==============================] - 2s 239us/step - loss: 1178.4635
Epoch 62/100
8708/8708 [==============================] - 2s 235us/step - loss: 1080.6936
Epoch 63/100
8708/8708 [==============================] - 2s 231us/step - loss: 1075.1669
Epoch 64/100
8708/8708 [==============================] - 2s 224us/step - loss: 1093.9541
Epoch 65/100
8708/8708 [==============================] - 2s 224us/step - loss: 1034.8615
Epoch 66/100
8708/8708 [==============================] - 2s 221us/step - loss: 1090.1835
Epoch 67/100
8708/8708 [==============================] - 2s 224us/step - loss: 1058.9852
Epoch 68/100
8708/8708 [==============================] - 2s 244us/step - loss: 1129.7682
Epoch 69/100
8708/8708 [==============================] - 2s 236us/step - loss: 1125.4010
Epoch 70/100
8708/8708 [==============================] - 2s 236us/step - loss: 1105.4432
Epoch 71/100
8708/8708 [==============================] - 2s 239us/step - loss: 982.1875
Epoch 72/100
8708/8708 [==============================] - 2s 234us/step - loss: 1167.3480
Epoch 73/100
8708/8708 [==============================] - 2s 234us/step - loss: 1030.9474
Epoch 74/100
8708/8708 [==============================] - 2s 235us/step - loss: 963.6870
Epoch 75/100
8708/8708 [==============================] - 2s 239us/step - loss: 994.6049
Epoch 76/100
8708/8708 [==============================] - 2s 229us/step - loss: 1119.5204
Epoch 77/100
8708/8708 [==============================] - 2s 235us/step - loss: 1071.6119
Epoch 78/100
8708/8708 [==============================] - 2s 224us/step - loss: 1098.6014
Epoch 79/100
8708/8708 [==============================] - 2s 234us/step - loss: 1031.5269
Epoch 80/100
8708/8708 [==============================] - 2s 230us/step - loss: 969.2453
Epoch 81/100
8708/8708 [==============================] - 2s 234us/step - loss: 1082.9679
Epoch 82/100
8708/8708 [==============================] - 2s 245us/step - loss: 956.7818
Epoch 83/100
8708/8708 [==============================] - 2s 240us/step - loss: 909.9552
Epoch 84/100
8708/8708 [==============================] - 2s 234us/step - loss: 977.4206
Epoch 85/100
8708/8708 [==============================] - 2s 244us/step - loss: 940.1677
Epoch 86/100
8708/8708 [==============================] - 2s 232us/step - loss: 942.9763
Epoch 87/100
8708/8708 [==============================] - 2s 237us/step - loss: 853.7758
Epoch 88/100
8708/8708 [==============================] - 2s 234us/step - loss: 887.7846
Epoch 89/100
8708/8708 [==============================] - 2s 241us/step - loss: 940.9173
Epoch 90/100
8708/8708 [==============================] - 2s 236us/step - loss: 984.4838
Epoch 91/100
8708/8708 [==============================] - 2s 231us/step - loss: 951.2248

Epoch 92/100
8708/8708 [==============================] - 2s 237us/step - loss: 822.6510
Epoch 93/100
8708/8708 [==============================] - 2s 227us/step - loss: 898.5556
Epoch 94/100
8708/8708 [==============================] - 2s 227us/step - loss: 810.7422
Epoch 95/100
8708/8708 [==============================] - 2s 234us/step - loss: 912.1045
Epoch 96/100
8708/8708 [==============================] - 2s 237us/step - loss: 783.4863
Epoch 97/100
8708/8708 [==============================] - 2s 240us/step - loss: 908.5154
Epoch 98/100
8708/8708 [==============================] - 2s 229us/step - loss: 748.5784
Epoch 99/100
8708/8708 [==============================] - 2s 233us/step - loss: 864.2879
Epoch 100/100
8708/8708 [==============================] - ETA: 0s - loss: 864.469 - 2s 233us/step - loss: 864.9545

### Predict and Analyze Network Accuracy using Testing Data Frame

In [100]:
prediction = model.predict(x_test)
prediction = np.round_(prediction)

actual = y_test['count']

fail_counter = 0


#print("Count prediction based on a dataset ")
for i in range(len(prediction)):
    # print("Predicted count: " + str(prediction[i]) + ' - Actual count:' + str(actual[i]) + ' - Correct Prediction: ' + str(prediction[i] == actual[i]))
    if (prediction[i] > (actual[i]+5)) or (prediction[i] < (actual[i]-5)):
        fail_counter += 1
    # print()

print("Failed predictions: " + str(fail_counter))

Failed predictions: 1936